.form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.div-container {
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
}
.table-container {
    margin: 0 auto;
    max-width: 90%;
}
.add-container {
    width: 90%;
    margin: 0 auto!important;
}
.budgetSelection {
    text-align: center;
    padding: 0px;
    margin: 0px 0px;
    border: 0.0625rem dashed #69757a;
    border-radius: .3125rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
p {
    margin-bottom: 0.5rem;
}
.center {
    text-align: center;
    flex:1;
}
.left-aligned {
    text-align: left;
}
.right-aligned {
    text-align: right;
}
.block {
    display: block;
}
.marginAuto {
    margin: 0 auto;
}
.labelHeight {
    height: 24px;
}
.tableWidth {
    width: 10%;
}
td {
    width: 30%;
}
th {
    width: 30%
}
.row {
    display: flex;
    justify-content:center;
    align-items: center
    flex-wrap: wrap;
    padding: 20px;
}
.header {
    background-color: #2a9d43;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #dee2e6;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 65px;
    margin-top: 0px;
    padding-bottom: 5px;
    font-size: xx-large;
}
.bodyColor {
    background-color: #F0F0F0;
}
.transactionColor {
    background-color: #F8F8F8;
}
.transactionModalColor {
    background-color: #2a9d43;
}
.nav-link {
    color: #2a9d43;
}
.graphContainer {
        width: 100%;
        height: 300px;
        padding: 0;
        margin: 0;
        flex: 1;
        margin-top: 0 !important;
        padding-top: 0 !important;
}
.tab-pane graph{
    display:flex;
}
.div-container input {
    display: none;
}
#plannedAmountDisplay {
    cursor: pointer;
}
.edit-mode input {
    display: inline-block;
}
.edit-mode span {
    display: none;
}
.edit-mode .form-container {
    display: block;
}
.form-control-override {
    display: inline-block;
    width: 30%;
}
a.dateButton {
    color: #000000;
    text-decoration: none;
}
div.dateButton:hover {
    background: #2a9d43;
    color: #F8F8F8;
}
.green {
    color: #2a9d43;
}
.list-group {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.list-group-item {
    padding: 0.25rem 0.75rem !important;
    border: none; /* optional */
}
.tab-content {
    overflow-y: hidden;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block !important;
}
.white {
    color: #dee2e6;
}

.budget {
    font: 0.75rem Arial, sans-serif;
}

.under_budget {
    color: #000000;
}

.on_budget {
    color: #2a9d43;
    font-weight: bold;
}

.dateButton:hover .on_budget {
    color: #ffffff;
}

.dateButton:hover .under_budget {
    color: #ffffff;
}
.dateButton:hover .over_budget {
    color: #ffffff;
}

.over_budget {
    color: #CC0000;
}

.container {
    max-width: 100%;
}
.dropdown-item:active {
    background-color: #5C636A;
}
