<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--NO budget -- This displays when there is NO current / selected month budget in the database.-->
<div class="div-container center" th:fragment="blankState">
    <img src="/images/blank_state_icon.png" width="20%">
    <h3>Hey there, looks like you need a budget for this month.</h3>
    <p>If you had a budget last month that will copy over to get you started.</p>
    <button class="btn btn-primary block marginAuto" type="button">Start Planning</button>
</div>

<!--YES budget -- This displays when there is a current / selected month budget in the database.-->
<div class="row" th:fragment="budgetPlanner">
    <div class="col-8">
        <div class="row">
            <div class="col-2" th:each="date: ${budgetDates}">
                <div class="budgetDateSelection center">
                    <h2 th:text="${date.getBudgetMonth()}"></h2>
                    <p th:text="${date.getBudgetYear()}"></p>
                </div>
                <label class="block center labelHeight" th:text="${date.currentBudgetMonth} ? 'Today' : ''"></label>
            </div>
        </div>
        <div class="table-container" th:each="category: ${categories}">
            <table class="table table-hover">
                <thead class="table-light"> <!--Option to use table-dark instead-->
                <tr>
                    <th th:text="${category.getCategoryName}"></th>
                    <th>Planned</th>
                    <th>Actual</th>
                    <th>
                        <button class="btn btn-light btn-sm" data-bs-target="#addLineItemModal" data-bs-toggle="modal"
                                type="button">
                            +
                        </button>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lineItem : ${category.getLineItems()}">
                    <td th:text="${lineItem.lineItemName}"></td>
                    <td>
                        <span th:text="'$'+${lineItem.plannedAmount}"></span>
                    </td>
                    <td th:class="${lineItem.plannedAmount < lineItem.cumulativeActualAmount}?text-danger">
                        <span th:text="${lineItem.plannedAmount < lineItem.cumulativeActualAmount}?'$'+${lineItem.cumulativeActualAmount}+' (over budget)':'$'+${lineItem.cumulativeActualAmount}"></span>
                    </td>
                    <td class="tableWidth">
                        <form method="post" th:action="@{/updateLineItem}">
                            <input th:name="lineItemId" th:value="${lineItem.id}" type="hidden"/>
                            <input class="btn btn-secondary btn-sm" type="submit" value="Update"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4 transactionColor">
        <ul class="nav nav-tabs nav-justified mt-2">
            <li class="nav-item">
                <a aria-controls="summary" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#summary"
                   id="summary-tab" role="tab">Summary</a>
            </li>
            <li class="nav-item">
                <a aria-controls="transactions" aria-current="page" aria-selected="true" class="nav-link active"
                   data-bs-toggle="tab" href="#transactions" id="transaction-tab" role="tab">Transactions</a>
            </li>
        </ul>
        <div class="tab-content mt-2">
            <div aria-labelledby="summary-tab" class="tab-pane fade" id="summary" role="tabpanel">
                <div class="graphContainer text-center">
                    <canvas id="pieGraph"></canvas>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script th:inline="javascript">
                const labels = /*[[${labels}]]*/ [];
                const data = /*[[${values}]]*/ [];

                const ctx = document.getElementById('pieGraph').getContext('2d');

                const pieGraph = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#FF9F40'],
                            borderColor: '#fff', // Optional: color of the borders
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            tooltip: {
                                callbacks: {
                                    label: function (tooltipItem) {
                                        return tooltipItem.label + ': $' + tooltipItem.raw.toFixed(2);
                                    }
                                }
                            }
                        }
                    }
                });
            </script>
        </div>
        <div aria-labelledby="transactions-tab" class="tab-pane fade show active" id="transactions" role="tabpanel">
            <div class="table-container" th:each="transaction: ${transactions}">
                <div class="row border-bottom border-dark border-1">
                    <div class="col-4" th:text="${transaction.merchant}"></div>
                    <div class="col-4" th:text="${transaction.transactionDate}"></div>
                    <div class="col-4"><span>$</span><span th:text="${transaction.actualAmount}"></span></div>
                </div>
            </div>
            <br>
            <p style="text-align:center;">Add transactions</p>

            <!-- Button to trigger transaction modal -->
            <button class="btn btn-primary block marginAuto" data-bs-target="#transactionModal" data-bs-toggle="modal"
                    type="button">
                +
            </button>
        </div>
    </div>
    <!-- Transaction Modal -->
    <div aria-hidden="true" aria-labelledby="transactionModalLabel" class="modal fade" id="transactionModal"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header transactionModalColor">
                    <h2 class="modal-title fs-5" id="transactionModalLabel">Add Transaction</h2>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/addTransactionToBudget}" th:object="${transaction}">
                        <label class="form-label" for="transactionAmount" hidden>Transaction Amount</label>
                        <input class="form-control" id="transactionAmount" min="1" name="transactionAmount" step="any"
                               th:field="*{actualAmount}" type="number">
                        <br>
                        <label class="form-label" for="transactionDate" hidden>Transaction Date</label>
                        <input class="form-control" id="transactionDate" name="transactionDate"
                               th:field="*{transactionDate}" th:value="*{transactionDate}" type="date">
                        <br>
                        <label class="form-label" for="merchant" hidden>Merchant</label>
                        <input class="form-control" id="merchant" name="merchant"
                               placeholder="Where was the money spent or earned?" th:field="*{merchant}" type="text">
                        <br>
                        <label class="form-label" for="item" hidden>Line Item</label>
                        <select class="form-select" id="item" name="item" th:field="*{lineItem}">
                            <option hidden selected value="none">Choose Budget Items</option>
                            <option th:each="lineItem : ${lineItems}"
                                    th:text="${lineItem.getLineItemName()}"
                                    th:value="${lineItem.getId()}"></option>
                        </select>
                        <br>
                        <label class="form-label" for="transactionNote" hidden>Note</label>
                        <textarea class="form-control" id="transactionNote"
                                  name="transactionNote" placeholder="Enter any notes about the transaction"
                                  style="height: 50px;" th:field="*{note}"></textarea>
                        <br>
                        <input class="btn btn-primary mt-2 mr-4 text-end" name="addTransaction" type="submit"
                               value="Save">
                    </form>
                </div>
                <!--            <div class="modal-footer">-->
                <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                <!--                <button type="button" class="btn btn-primary">Save changes</button>-->
                <!--            </div>-->
            </div>
        </div>
    </div>
    <!--Category Modal -->
    <div aria-hidden="true" aria-labelledby="addCategoryModalLabel" class="modal fade" id="addCategoryModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <!-- Category Form -->
                    <form method="post" th:action="@{/addCategory/createCategory}">
                        <input th:name="budget" th:value="${budget.id}" type="hidden"/>
                        <label class="form-label" for="categoryName">Category Name:</label>
                        <input class="form-control" id="categoryName" name="categoryName" required type="text">
                        <br>
                        <button class="btn btn-secondary" type="submit">Add Category</button>
                    </form>
                    <div class="alert alert-success" role="alert" th:if="${message}">
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Line Item Modal -->
    <div aria-hidden="true" aria-labelledby="addLineItemModalLabel" class="modal fade" id="addLineItemModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header transactionModalColor">
                    <h2 class="modal-title fs-5" id="addLineItemModalLabel">Add New Line Item</h2>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/lineitems/create}">
                        <div class="mb-3">
                            <label class="form-label" for="lineItemName">Line Item Name</label>
                            <input class="form-control" id="lineItemName" name="lineItemName" required type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="plannedAmount">Planned Amount</label>
                            <input class="form-control" id="plannedAmount" name="plannedAmount" required type="number">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="isIncome">Income or Expense?</label>
                            <select class="form-select" id="isIncome" name="isIncome">
                                <option value="true">Income</option>
                                <option value="false">Expense</option>
                            </select>
                        </div>
                        <!-- Recurrence Dropdown selection -->
                        <div class="mb-3">
                            <label class="form-label" for="recurrenceType">Recurrence</label>
                            <select class="form-select" id="recurrenceType" name="recurrenceType">
                                <option selected value="ONE_TIME">One Time</option>
                                <option value="WEEKLY">Weekly</option>
                                <option value="BI_WEEKLY">Bi-Weekly</option>
                                <option value="MONTHLY">Monthly</option>
                                <option value="YEARLY">Yearly</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="category">Category</label>
                            <select class="form-select" id="category" name="category.id">
                                <option th:each="category : ${categories}" th:text="${category.categoryName}"
                                        th:value="${category.id}"></option>
                            </select>
                        </div>
                        <button class="btn btn-secondary" type="submit">Add Line Item</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:fragment="financialGoals">
    <button class="btn btn-primary" data-bs-target="#financialGoalModal" data-bs-toggle="modal" type="button">
        Create a financial goal
    </button>
    <!-- Financial Goal Modal -->
    <div aria-hidden="true" aria-labelledby="financialGoalModal" class="modal fade" id="financialGoalModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="financialGoalModalLabel">Create a financial goal</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <form th:action="@{/financialgoals/create}" method="post">
                    <input type="hidden" th:value="${budget.id}" th:name="budgetId">
                    <div class="modal-body">
                        <label for="financialGoalName">Financial Goal</label>
                        <input type="text" class="form-control" id="financialGoalName" name="financialGoalName">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save Financial Goal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="form-container center" th:fragment="actionMenu">
    <button class="btn btn-secondary mt-2" data-bs-target="#addCategoryModal" data-bs-toggle="modal" type="button">
        Add Category
    </button>
</div>

<div th:fragment="nothing"></div>

</body>
</html>